<p-button label="Edit or Add" (onClick)="updateemployedYouthData()" />

<p-table [value]="employedYouthVillage" class="tab-data-table">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="firstName" class="text-center">
        Sc No <p-sortIcon field="firstName" />
      </th>
      <th pSortableColumn="firstName" class="text-center">
        Community<p-sortIcon field="firstName" />
      </th>

      <th pSortableColumn="address" class="text-center">
        GOVERNMENT <p-sortIcon field="address" />
      </th>

      <th pSortableColumn="Amount" class="text-right">
        PRIVATE <p-sortIcon field="Amount" />
      </th>
      <th pSortableColumn="Amount" class="text-right">
        SELF EMPOLYMENT <p-sortIcon field="Amount" />
      </th>
      <th pSortableColumn="Amount" class="text-right">
        Total <p-sortIcon field="Amount" />
      </th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employedYouthVillageData>
    <tr>
      <td class="text-center">
        {{ employedYouthVillageData.id }}
      </td>

      <td class="text-right">
        {{ getCommunityName(employedYouthVillageData.communityId) }}
      </td>

      <td class="text-right">
        {{ employedYouthVillageData.government }}
      </td>

      <td class="text-right">
        {{ employedYouthVillageData.privateJob }}
      </td>

      <td class="text-right">
        {{ employedYouthVillageData.selfEmployee }}
      </td>

      <td class="text-right">{{ employedYouthVillageData.total }}</td>

      <td>
        <i
          class="pi pi-pencil"
          (click)="editemployedData(employedYouthVillageData)"
        ></i>
        <i
          class="pi pi-trash"
          (click)="deleteemployedData(employedYouthVillageData)"
        ></i>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-sidebar
  [(visible)]="employedYouthVisible"
  position="right"
  [showCloseIcon]="false"
>
  <form
    [formGroup]="employedYouthForm"
    (ngSubmit)="updateEmployedYouthForm()"
    *ngIf="employedYouthVisible"
  >
    <div class="tab-pop-txt">
      <h4>Add Employed Youth</h4>
      <i class="pi pi-times" (click)="employedYouthVisible = false"></i>
    </div>

    <div class="pop-data-set">
      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Community</div>
        <div class="project-detail-set-v mt-2">
          <p-dropdown
            [options]="communityData"
            formControlName="community"
            optionLabel="name"
            optionValue="id"
            placeholder="Select Community"
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Government</div>
        <div class="project-detail-set-v mt-2">
          <p-inputNumber
            inputId="government"
            formControlName="government"
            #government
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Private</div>
        <div class="project-detail-set-v mt-2">
          <p-inputNumber inputId="private" formControlName="private" #private />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Self empolyment</div>
        <div class="project-detail-set-v mt-2">
          <p-inputNumber
            inputId="SelfEmpolyment"
            formControlName="SelfEmpolyment"
            #SelfEmpolyment
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Total</div>
        <div class="project-detail-set-v mt-2">
          {{
            (government?.value == "" ? 0 : government?.value) +
              (private?.value == "" ? 0 : private?.value) +
              (SelfEmpolyment?.value == "" ? 0 : SelfEmpolyment?.value)
          }}
        </div>
      </div>
    </div>

    <div class="tab-footer-btns">
      <p-button
        label="Cancel "
        (click)="employedYouthVisible = false"
        class="cancel-btn"
      />
      <p-button label="Add " type="submit" class="submit-btn" />
    </div>
  </form>
</p-sidebar>
