<div class="main-container">
  <div class="header-set">
    <h3>Projects List</h3>
    <div class="header-set-filter">
      <p-dropdown
        [filter]="true"
        [options]="districts"
        [(ngModel)]="selectedDistrict"
        optionLabel="name"
        placeholder="Select a District"
        (onChange)="getMandals($event)"
      />
      <p-dropdown
        [filter]="true"
        [options]="mandals"
        [(ngModel)]="selectedMandal"
        optionLabel="name"
        placeholder="Select a Mandal"
        (onChange)="getvilages($event)"
      />
      <p-dropdown
        [filter]="true"
        [options]="villages"
        [(ngModel)]="selectedVilage"
        optionLabel="name"
        placeholder="Select a Vilage"
        (onChange)="vilageChange($event)"
      />

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Search..."
        />
      </span>
      <p-button label="Add New Project" (onClick)="createProject()" />
    </div>
  </div>

  <p-toast />

  <p-table
    #dt
    [value]="projects"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="project"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="body" let-info>
      <div class="projects-list-set">
        <div class="projects-list">
          <div class="container-fluid">
            <div class="row">
              <div class="col-1">
                <a (click)="getProjectDetails(info)">
                  <img src="assets/images/project-1.jpg" class="img-fluid" />
                </a>
              </div>
              <div class="col-11">
                <div class="row">
                  <div class="project-detail-set col-12">
                    <h1>Location Details</h1>
                  </div>

                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">District</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.districtName }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Mandal</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.mandalName }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Village</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.villageName }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Pin Code</div>
                    <div class="project-detail-set-v mt-2"></div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Colony</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.location }}
                    </div>
                  </div>

                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Latitude</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.latitude }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="project-detail-set col-12">
                    <h1>Project Details</h1>
                  </div>

                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Project ID</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.id }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Project Type</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.projectType }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Status</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.status }}
                    </div>
                  </div>

                  <div class="project-detail-set col-12">
                    <div class="project-detail-set-h">Description</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.description }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="project-detail-set col-12">
                    <h1>Project Estimation Details</h1>
                  </div>

                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">
                      Project Estimation (Inc. Maintenance 3 Years)
                    </div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.projectEstimation }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Govt. Share</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.governmentShare }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Public Share</div>
                    <div class="project-detail-set-v mt-2">
                      {{ info.publicShare }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="showProjectDialog"
    [style]="{ width: '60%' }"
    header="Add Project"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-container>
      <app-project
        (closeDialogEvent)="refresh($event)"
        [project]="project"
        [addNewProject]="true"
      ></app-project>
    </ng-container>
  </p-dialog>
</div>
