.col-span-4 {
    width: 20%;
    float: left;
}

.page-vertical1 {
    width: 65%;
}

.page-vertical2 {
    width: 35%;
}

.basic-div-level1 {
    display: inline-flex;
    margin-bottom: 10px;
    width: 100%;
    .basic-div-level2-desc {
        width: 100%;
        margin-left: 5px;
    }
    .basic-div-level2 {
        width: 50%;
        margin-left: 5px;

        .form-label {
            color: gray;
        }
        input[type="text"] {
            height: 30px;
        }
        .project-type {
            padding-right: 20px;
        }
    }
    .submit-button {
        width: 100px;
    }
    .cancel-button {
        width: 100px;
    }
}

