<div class="row mb-4">
  <div class="project-detail-h-set tab-h-txt">
    <h4>Committee Member Details</h4>
    <p-button
      label="Add Committee Member"
      (click)="
        sidebarVisible = true;
        updatecommitteeForm.reset();
        editCommitee = false;
        updatecommitteeForm.get('villageId')?.setValue(projectData.villageName)
      "
    />
  </div>
  <div class="row tab-input-data">
    <p-table
      [value]="Committee"
      [tableStyle]="{ 'min-width': '60rem' }"
      stripedRows
      class="tab-data-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code" style="width: 20%">
            Name <p-sortIcon field="code" />
          </th>
          <th pSortableColumn="name" style="width: 20%">
            Mobile <p-sortIcon field="name" />
          </th>

          <th pSortableColumn="quantity" style="width: 20%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Committee>
        <tr>
          <td>{{ Committee.firstName }}</td>
          <td>{{ Committee.phoneNumber }}</td>
          <td>
            <i class="pi pi-pencil" (click)="editCommittee(Committee)"></i>
            <i class="pi pi-trash" (click)="deleteCommittee(Committee)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  [showCloseIcon]="false"
>
  <form
    [formGroup]="updatecommitteeForm"
    *ngIf="sidebarVisible"
    (ngSubmit)="updatecommittee()"
  >
    <div class="tab-pop-txt">
      <h4>Add Committee Member</h4>
      <i class="pi pi-times" (click)="sidebarVisible = false"></i>
    </div>
    <div class="pop-data-set">
      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">First Name</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="firstName"
            formControlName="firstName"
            aria-describedby="firstName"
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Last Name</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="lastName"
            formControlName="lastName"
            aria-describedby="lastName"
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Father Name</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="fatherName"
            formControlName="fatherName"
            aria-describedby="fatherName"
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">e-mail</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="email"
            formControlName="email"
            aria-describedby="email"
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Village</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="villageId"
            formControlName="villageId"
            aria-describedby="villageId"
            readonly="true"
          />
        </div>
      </div>

      <div class="project-detail-set mt-4">
        <div class="project-detail-set-h">Mobile</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="Mobile"
            formControlName="Mobile"
            aria-describedby="Mobile"
          />
        </div>
      </div>
    </div>
    <div class="tab-footer-btns">
      <p-button
        label="Cancel "
        (click)="sidebarVisible = false; editCommitee = false"
        class="cancel-btn"
      />
      <p-button label="Add " type="submit" class="submit-btn" />
    </div>
  </form>
</p-sidebar>
