<div class="flex justify-content-start flex-wrap">
  <div class="flex align-items-center justify-content-center m-2">
    <span>Committee Member Details</span>
    <p-button label="Add Committee Member" (click)="sidebarVisible = true" />
  </div>
</div>

<div class="flex justify-content-start flex-wrap mt-15">
  <div class="flex align-items-center justify-content-center m-2">
    <p-table [value]="Committee" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code" style="width: 20%">
            Name <p-sortIcon field="code" />
          </th>
          <th pSortableColumn="name" style="width: 20%">
            Mobile <p-sortIcon field="name" />
          </th>

          <th pSortableColumn="quantity" style="width: 20%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Committee>
        <tr>
          <td>{{ Committee.firstName }}</td>
          <td>{{ Committee.phoneNumber }}</td>
          <td>
            <i class="pi pi-pencil" (click)="sidebarVisible = true"></i>
            <i class="pi pi-trash"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  [showCloseIcon]="false"
>
  <div>
    Add Committee Member
    <i class="pi pi-times" (click)="sidebarVisible = false"></i>
  </div>

  <div class="flex align-items-center justify-content-center m-2">
    <div class="flex flex-column gap-2">
      <label for="username">Name</label>
      <input pInputText id="Name" aria-describedby="Name" />
      <!-- <small id="PublicShare">
        Enter your username to reset your password.
      </small> -->
    </div>
  </div>

  <div class="flex align-items-center justify-content-center m-2">
    <div class="flex flex-column gap-2">
      <label for="username">Mobile</label>
      <input pInputText id="Mobile" aria-describedby="Mobile" />
      <!-- <small id="PublicShare">
        Enter your username to reset your password.
      </small> -->
    </div>
  </div>
  <div>
    <p-button label="Cancel " (click)="sidebarVisible = false" />
    <p-button label="Add " (click)="addCommittee()" />
  </div>
</p-sidebar>
