<div class="flex justify-content-start flex-wrap">
  <div class="flex align-items-center justify-content-center m-2">
    <span>Total Expenses 2,16,050/-</span>
    <span>Total Fund 9,00,000/-</span>
    <span>Remaining Balance 6,87,737/-</span>
    <p-button label="Add Expense" />
  </div>
</div>

<div class="justify-content-start flex-wrap mt-15">
  <p-table
    [value]="products"
    [style]="{ width: '100%', overflow: 'auto!important' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Date">Date <p-sortIcon field="Date" /></th>
        <th pSortableColumn="Expense">
          Expense Type <p-sortIcon field="Expense" />
        </th>

        <th pSortableColumn="Amount">Amount <p-sortIcon field="Amount" /></th>
        <th pSortableColumn="Spent">Spent By <p-sortIcon field="Spent" /></th>
        <th pSortableColumn="Paid">Paid to <p-sortIcon field="Paid" /></th>
        <th pSortableColumn="Payment">
          Mode of Payment <p-sortIcon field="Payment" />
        </th>
        <th pSortableColumn="Approved">
          Approved By <p-sortIcon field="Approved" />
        </th>
        <th pSortableColumn="Description">
          Description <p-sortIcon field="Description" />
        </th>
        <th pSortableColumn="Bill">Bill Proofs <p-sortIcon field="Bill" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
