<form [formGroup]="approvalForm" (ngSubmit)="updateApproval()">
  <div class="row mb-4">
    <div class="project-detail-h-set">
      <h4>Project Estimation Details</h4>
    </div>
    <div class="row tab-input-data">
      <div class="project-detail-set col-3">
        <div class="project-detail-set-h">
          Project Estimation <span>(Inc. Maintenance 3 Years)</span>
        </div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="ProjectEstimation"
            formControlName="ProjectEstimation"
            aria-describedby="ProjectEstimation"
          />
        </div>
      </div>
      <div class="project-detail-set col-2">
        <div class="project-detail-set-h">Govt. Share %</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="GovtShare"
            formControlName="GovtShare"
            aria-describedby="GovtShare"
          />
        </div>
      </div>
      <div class="project-detail-set col-2">
        <div class="project-detail-set-h">Public Share %</div>
        <div class="project-detail-set-v mt-2">
          <input
            pInputText
            id="PublicShare"
            formControlName="PublicShare"
            aria-describedby="PublicShare"
          />
          <span> 200</span>
          <!-- <p-inputNumber inputId="integeronly" formControlName="PublicShare" /> -->
        </div>
      </div>
      <div class="project-detail-set col-2">
        <div class="project-detail-set-h" style="color: #fff">.</div>
        <div class="project-detail-set-v mt-2">
          <button class="submit-btn-m">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>
