<!-- <div class="project-detail-banner">
  <div class="project-detail-banner-gray"></div>
  <div class="banner-txt">
    <div class="banner-txt-set">
      <div class="banner-txt-a">RO</div>
      <div class="banner-txt-b">Plant</div>
      <div class="banner-txt-c">
        {{ product.villageName }} | {{ product.location }}
      </div>
    </div>
  </div>
  <img src="assets/images/ro-plant.jpg" class="img-fluid" />
</div> -->
<div class="main-container-in">
  <div class="projects-list-detail">
    <!-- <div class="row project-detail-name-h">
      <div class="d-flex justify-content-between">
        <h4>{{ product.villageName }}</h4>
        <div class="all-projects-arrow-set" onclick="history.back()">
          <img src="assets/images/back-arrow.svg" />
          <div>All Projects</div>
        </div>
      </div>
    </div>
    <div class="project-detail-bg">
      <div class="row">

    <div class="container">
      <div class="row mb-4">
        <div class="project-detail-h-set">
          <h4>Location Details</h4>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">District</div>
          <div class="project-detail-set-v mt-2">
            {{ product.districtName }}
          </div>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Mandal</div>
          <div class="project-detail-set-v mt-2">{{ product.mandalName }}</div>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Village</div>
          <div class="project-detail-set-v mt-2">{{ product.villageName }}</div>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Pin Code</div>
          <div class="project-detail-set-v mt-2">{{ product.pinCode }}</div>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Colony</div>
          <div class="project-detail-set-v mt-2">{{ product.location }}</div>
        </div>

        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Latitude, Longitude</div>
          <div class="project-detail-set-v mt-2">
            {{ product.latitude }} , {{ product.longitude }}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="project-detail-h-set">
          <h4>Project Details</h4>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Project ID</div>
          <div class="project-detail-set-v mt-2">
            {{ product.id }}
          </div>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Project Type</div>
          <div class="project-detail-set-v mt-2">
            {{ product.projectType ? "New" : "Existing" }}
          </div>
        </div>
        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">Status</div>
          <div class="project-detail-set-v mt-2">
            {{ product.status }}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="project-detail-h-set">
          <h4>Project Description</h4>
        </div>

        <div class="project-detail-set col-2">
          <div class="project-detail-set-h">{{ product.description }}</div>
        </div>
      </div>
    </div>
  </div>

  </div> -->

    <form [formGroup]="donorForm" (ngSubmit)="updatedonorForm()">
      <div class="container">
        <div class="row">
          <div class="tab-pop-txt">
            <h4>Add Your Details</h4>
          </div>
        </div>
        <div class="row">
          <div class="mt-4 col-3">
            <div class="project-detail-set-h">Donor Name</div>
            <div class="project-detail-set-v mt-2">
              <input
                pInputText
                id="DonorsName"
                formControlName="DonorsName"
                aria-describedby="DonorsName"
              />
            </div>
          </div>

          <div class="mt-4 col-3">
            <div class="project-detail-set-h">Phone</div>
            <div class="project-detail-set-v mt-2">
              <p-inputNumber
                id="DonorsPhone"
                mode="decimal"
                [useGrouping]="false"
                formControlName="DonorsPhone"
                aria-describedby="DonorsPhone"
              />
            </div>
          </div>

          <div class="mt-4 col-3">
            <div class="project-detail-set-h">e-mail</div>
            <div class="project-detail-set-v mt-2">
              <input
                pInputText
                id="DonorsEmail"
                formControlName="DonorsEmail"
                aria-describedby="DonorsEmail"
              />
            </div>
          </div>

          <div class="mt-4 col-3">
            <div class="project-detail-set-h">Address</div>
            <div class="project-detail-set-v mt-2">
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                id="DonorsAddress"
                aria-describedby="DonorsAddress"
                formControlName="DonorsAddress"
              >
              </textarea>
            </div>
          </div>

          <div class="mt-4 col-3">
            <div class="project-detail-set-h">Memory of</div>
            <div class="project-detail-set-v mt-2">
              <input
                pInputText
                id="DonorsMemoryOf"
                aria-describedby="DonorsMemoryOf"
                formControlName="DonorsMemoryOf"
              />
            </div>
          </div>

          <div class="mt-4 col-3">
            <div class="project-detail-set-h">Amount</div>
            <div class="project-detail-set-v mt-2">
              <p-inputNumber
                id="DonorsAmount"
                mode="decimal"
                formControlName="DonorsAmount"
              />
            </div>
          </div>

          <div class="mt-4 col-3">
            <div class="project-detail-set-h">Mode of Payment (Cash / Online)</div>
            <div class="project-detail-set-v mt-2">
              <input
                pInputText
                id="DonorsModeofPayment"
                aria-describedby="DonorsModeofPayment"
                formControlName="DonorsModeofPayment"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="tab-footer-btns mt-4">
            <p-button label="Cancel " (click)="onClose()" class="cancel-btn" />
            <p-button
              label="Add "
              type="submit"
              class="submit-btn"
              [disabled]="!donorForm.valid"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
