<div class="main-container">
  <div class="header-set">
    <h3>Projects List</h3>
    <div class="header-set-filter">
      <p-dropdown
        [filter]="true"
        [options]="DistrictDetails"
        [(ngModel)]="selectedDistrict"
        optionLabel="name"
        placeholder="Select a District"
        (onChange)="getMandals($event)"
      />
      <p-dropdown
        [filter]="true"
        [options]="mandals"
        [(ngModel)]="selectMandals"
        optionLabel="name"
        placeholder="Select a Mandal"
        (onChange)="getvilages($event)"
      />
      <p-dropdown
        [filter]="true"
        [options]="vilage"
        [(ngModel)]="selectVilage"
        optionLabel="name"
        placeholder="Select a Vilage"
      />

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Search..."
        />
      </span>
      <p-button label="Add New Project" (onClick)="openNew()" />
    </div>
  </div>

  <p-toast />

  <div class="flex align-items-center justify-content-start">
    <div
      class="hidden w-4rem h-4rem bg-primary font-bold p-4 border-round mr-3"
    >
      1
    </div>
    <div
      class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3"
    >
      2
    </div>
    <div
      class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round"
    >
      3
    </div>
  </div>

  <p-table
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="body" let-product>
      <div class="projects-list-set">
        <div class="projects-list">
          <div class="container-fluid">
            <div class="row">
              <div class="col-1">
                <a
                  [routerLink]="'/project-details'"
                  [queryParams]="{ id: product.id }"
                >
                  <img src="assets/images/project-1.jpg" class="img-fluid" />
                </a>
              </div>
              <div class="col-11">
                <div class="row">
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Project ID</div>
                    <div class="project-detail-set-v mt-2">
                      {{ product.id }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">District</div>
                    <div class="project-detail-set-v mt-2">Krishna</div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Mandal</div>
                    <div class="project-detail-set-v mt-2">Tiruvuru</div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Village</div>
                    <div class="project-detail-set-v mt-2">Kakarla</div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Pin Code</div>
                    <div class="project-detail-set-v mt-2">521227</div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Colony</div>
                    <div class="project-detail-set-v mt-2">BC Colony</div>
                  </div>

                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Latitude</div>
                    <div class="project-detail-set-v mt-2">
                      {{ product.latitude }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Longitude</div>
                    <div class="project-detail-set-v mt-2">
                      {{ product.longitude }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Project Type</div>
                    <div class="project-detail-set-v mt-2">
                      {{ product.projectType ? "New" : "Existing" }}
                    </div>
                  </div>
                  <div class="project-detail-set col-2">
                    <div class="project-detail-set-h">Status</div>
                    <div class="project-detail-set-v mt-2">
                      {{ product.status }}
                    </div>
                  </div>
                  <div class="project-detail-set col-12">
                    <div class="project-detail-set-h">Description</div>
                    <div class="project-detail-set-v mt-2">
                      {{ product.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Add Project"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <img
        [src]="
          'https://primefaces.org/cdn/primeng/images/demo/product/' +
          product.image
        "
        [alt]="product.image"
        class="block m-auto pb-3"
        *ngIf="product.image"
      />

      <form
        [formGroup]="newProjectForm"
        (ngSubmit)="savenewProjectForm()"
        class="php-email-form"
      >
        <div class="rendered-form">
          <div class="formbuilder-select form-group field-select-1738515105639">
            <label for="select-1738515105639" class="formbuilder-select-label"
              >District</label
            >
            <p-dropdown
              [filter]="true"
              [options]="DistrictDetails"
              formControlName="newProjectdistrict"
              optionLabel="name"
              placeholder="Select a District"
              (onChange)="getMandals($event)"
            />
          </div>
          <div class="formbuilder-select form-group field-select-1738522218203">
            <label for="select-1738522218203" class="formbuilder-select-label"
              >Mandal</label
            >
            <p-dropdown
              [filter]="true"
              [options]="mandals"
              formControlName="newProjectmandal"
              optionLabel="name"
              placeholder="Select a Mandal"
              (onChange)="getvilages($event)"
            />
          </div>
          <div class="formbuilder-select form-group field-select-1738522221098">
            <label for="select-1738522221098" class="formbuilder-select-label"
              >Village</label
            >
            <p-dropdown
              [filter]="true"
              [options]="vilage"
              formControlName="newProjectvillage"
              optionLabel="name"
              placeholder="Select a Village"
            />
          </div>

          <div class="formbuilder-select form-group field-select-1738522221098">
            <label for="select-1738522221098" class="formbuilder-select-label"
              >Colony/Street/Location</label
            >
            <input type="text" pInputText formControlName="newProjectAddress" />
          </div>

          <div class="formbuilder-select form-group field-select-1738522221098">
            <label for="select-1738522221098" class="formbuilder-select-label"
              >Latitude</label
            >
            <input
              type="text"
              pInputText
              formControlName="newProjectLatitude"
            />
          </div>

          <div class="formbuilder-select form-group field-select-1738522221098">
            <label for="select-1738522221098" class="formbuilder-select-label"
              >longitude</label
            >
            <input
              type="text"
              pInputText
              formControlName="newProjectLongitude"
            />
          </div>

          <div class="formbuilder-select form-group field-select-1738522221098">
            <label for="select-1738522221098" class="formbuilder-select-label"
              >projectType</label
            >
            <div class="flex flex-col gap-4">
              <div class="custom-control custom-radio">
                <input
                  id="new"
                  type="radio"
                  class="custom-control-input"
                  value="New"
                  name="newProjectType"
                  formControlName="newProjectType"
                />
                <label class="custom-control-label" for="new">New</label>
              </div>

              <div class="custom-control custom-radio">
                <input
                  id="existing"
                  type="radio"
                  class="custom-control-input"
                  value="Existing"
                  name="newProjectType"
                  formControlName="newProjectType"
                />
                <label class="custom-control-label" for="existing"
                  >Existing</label
                >
              </div>
            </div>
          </div>

          <div class="formbuilder-select form-group field-select-1738522233201">
            <label for="select-1738522233201" class="formbuilder-select-label"
              >Project Category</label
            >
            <p-dropdown
              [filter]="true"
              [options]="newProjectDetails"
              formControlName="newProjectCategory"
              optionLabel="name"
              placeholder="Select Projects Category"
              (onChange)="getProjectNames($event)"
            />
          </div>
        </div>

        <div class="field">
          <label for="name">Project Name</label>
          <p-dropdown
            [filter]="true"
            [options]="newProjectListNames"
            formControlName="newProjectName"
            optionLabel="description"
            placeholder="Select Projects Name"
          />
          <small class="p-error" *ngIf="submitted && !product.name">
            Name is required.
          </small>
        </div>
        <div class="field">
          <label for="description">Project Description</label>
          <textarea
            pInputTextarea
            formControlName="newProjectDescription"
            required
            rows="3"
            cols="20"
          >
          </textarea>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Project Estimation</label>
            <p-inputNumber
              id="price"
              formControlName="newProjectEstimation"
              mode="currency"
              currency="USD"
              locale="en-US"
            />
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Govt Share</label>
            <p-inputNumber
              id="price"
              formControlName="newProjectGovtShare"
              mode="currency"
              currency="USD"
              locale="en-US"
            />
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Public Share</label>
            <p-inputNumber
              id="price"
              formControlName="newProjectPublicShare"
              mode="currency"
              currency="USD"
              locale="en-US"
            />
          </div>
        </div>

        <p-button
          label="Cancel"
          icon="pi pi-times"
          [text]="true"
          (onClick)="hideDialog()"
        />
        <p-button type="submit" label="Save" icon="pi pi-check" [text]="true" />
      </form>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '100%' }" />
</div>
