.header-set {
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px 30px;
    margin-top: 120px;
    margin-bottom: 0;

    h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        color: #507619;

        span {
            background-color: #4F7619;
            border-radius: 100px;
            padding: 6px;
            font-size: 14px;
            color: #fff;
        }
    }
}

.gallery-set {
    img {
        border-radius: 9px;
        width: 100%;
        border: 3px solid #fff;

    }
}


@media screen and (max-width: 960px) {
    .header-set {
        margin-top: 125px;
    }
}

