<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container position-relative d-flex align-items-center">
    <a href="/" class="logo d-flex align-items-center me-auto">
      <img src="assets/images/empower-logo.svg" />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLinkActive="active-link" routerLink="/home">Home</a></li>
        <li class="dropdown">
          <a routerLinkActive="active-link" routerLink="/about-us"> Aboutus</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/vision">Vision</a>
        </li>
        <li class="dropdown">
          <a routerLinkActive="active-link" routerLink="/projects">Projects</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/sponsors">Sponsors</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/vendors">Vendors</a>
        </li>
        <li>
          <a routerLinkActive="active-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="header-social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</header>

<!-- <div class="page-title accent-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Create New Project</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">New Project</li>
      </ol>
    </nav>
  </div>
</div> -->
<!-- <div class="mapouter">
  <div class="gmap_canvas">
    <iframe
      class="gmap_iframe"
      width="100%"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=vijayawada&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>
  </div>
</div> -->
<div *ngIf="isLoading()" class="overlay">
  <div class="card flex justify-content-center">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
      animationDuration=".5s"
    />
  </div>
</div>

<router-outlet></router-outlet>
