<div class="inner-margin-top pos-rel">
  <div class="sponsor-img-set">
    <img src="assets/images/sponsors/01.png"/>
  </div>
  <div class="sponsor-name">Srini Nannapaneni</div>
  <img src="assets/images/sponsor-bg.jpg"/>
</div>
<div class="row project-detail-name-h header-set mt-0">
  <div class="d-flex justify-content-between">
    <h4>Name</h4>
    <div class="all-projects-arrow-set" onclick="history.back()">
      <img src="assets/images/back-arrow.svg" />
      <div>Sponsors</div>
    </div>
  </div>
</div>
