@import url(https://use.typekit.net/emv3zbo.css);
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: proxima-nova, sans-serif !important;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.p-tabview .p-tabview-panels {
  overflow: hidden;
}

html {
  font-size: 14px;
}

.p-component,
.p-inputtext {
  font-family: proxima-nova, sans-serif !important;
}

body {
  font-family: proxima-nova, sans-serif !important;
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 75px;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}

.gmap_iframe {
  height: 400px !important;
}

:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}


.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

:root {
  --background-color: #ffffff;
  --default-color: #444444;
  --heading-color: #111111;
  --accent-color: #1bbd36;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

.accent-background {
  --background-color: #1bbd36;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #ffffff;
  --surface-color: #2ae149;
  --contrast-color: #ffffff;
}

button[type=submit] {
  background: var(--accent-color);
  color: var(--contrast-color);
  border: 0;
  padding: 13px 50px;
  transition: 0.4s;
  border-radius: 4px;
}

.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;
}

.page-title h1 {
  font-size: 24px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-lg-flex,
.d-flex {
  display: flex;
}

.header .logo h1 {
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--heading-color);
}

.header .logo h1 {
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--heading-color);
}

.navmenu li {
  position: relative;
}

.navmenu {
  padding: 0;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navmenu li {
  position: relative;
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 18px 15px;
  font-size: 13px;
  font-family: var(--nav-font);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  transition: 0.3s;
}

// .navmenu li:last-child a {
//   padding-right: 0;
// }

.navmenu li:hover>a,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

.navmenu .dropdown ul {
  margin: 0;
  padding: 10px 0;
  background: var(--nav-dropdown-background-color);
  display: block;
  position: absolute;
  visibility: hidden;
  left: 14px;
  top: 130%;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
  z-index: 99;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navmenu .dropdown ul li {
  min-width: 200px;
}

.navmenu .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  color: var(--nav-dropdown-color);
}

.navmenu .dropdown ul a i {
  font-size: 12px;
}

.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover>a {
  color: var(--nav-dropdown-hover-color);
}

.navmenu .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navmenu .dropdown .dropdown ul {
  top: 0;
  left: -90%;
  visibility: hidden;
}

.navmenu .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
}

.me-auto {
  margin-right: auto !important;
}

.container {
  width: 100%;
}

.mr-2 {
  margin-right: .5rem !important;
}

.p-toolbar {
  width: 100%;
}

.header {
  // padding: 10px 30px 0 30px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #F6F6F6;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0
}

.navmenu a:link,
.navmenu a:visited,
.navmenu a:hover {
  text-decoration: none;
  font-size: 18px;
}

.navmenu a:hover {
  text-decoration: none;
  font-size: 18px;
  color: rebeccapurple;
}

.p-dialog {
  right: 0;
  position: absolute;
  top: 135px;
  height: calc(100% - 135px);
  max-height: inherit;
}

.main-container {
  padding: 30px;
  background-color: #fff;
}

.header-set {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header-set-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.header-set .header-set {
  .p-button {
    background-color: #4F7619;
    border: 1px solid #4F7619;
  }

  .p-button:hover {
    background-color: #3d600d;
    border: 1px solid #4F7619;
  }

  .p-element {
    width: 400px;
    max-width: 400px;
  }
}



.projects-list {
  background-color: #FAFAFA;
  padding: 15px 0 0 0;
  border: 1px solid #CACACA;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: .3s ease;

  .col-1 {
    img {
      margin-top: -15px;
    }
  }

  &:hover {
    border: 1px solid #4F7619;
    transition: .3s ease;
    box-shadow: rgb(204, 204, 204) 0px 0px 10px
  }

}

.projects-list-detail {
  padding: 0;
  margin-bottom: 20px;
  transition: .3s ease;

}

.projects-list-tab {
  background-color: #fff;
  padding: 0;
  border: 1px solid #CACACA;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: .3s ease;

}

.project-detail-set {
  // margin-bottom: 20px;

  margin-bottom: 15px;
  padding: 0;

  .project-detail-set-h {
    color: #5c5c5c;
  }

  .project-detail-set-v {
    font-weight: bold;
  }
}

.p-button {
  background-color: #4F7619;
  border-radius: 4px;
  border: 1px solid #4F7619;
  transition: .3s ease;

  &:hover {
    background-color: #3c5a11;
    transition: .3s ease;
  }
}

// .p-datatable-tbody{
//   overflow: auto;
//   height: calc(100vh - 187px);
// }

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #ffffff #fff #4F7619 #fff;
  color: #495057;
  border-bottom: 2px solid #4F7619;

}

.p-tabview-nav {
  margin-bottom: 0px;
  .p-avatar,
  img {
    display: none;
  }

  a {
    color: #4F7619;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
  }
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  border: 1px solid #fff;
}

.p-sidebar-right {
  top: 135px;
}



.project-detail-h-set {
  margin: 0;
  padding: 0;

  h4 {
    color: #4F7619;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

}

.tab-h-txt {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-detail-h-set {
  margin-bottom: 10px;
  width: 100%;

  h4 {
    margin-bottom: 0;
  }
}

.tab-data-table {
  tr {
    td:last-child {
      display: flex;
      gap: 15px;
    }

    td {
      text-align: left !important;
    }

    th {
      text-align: left !important;
      padding: 0.75rem 1rem;
      border: 1px solid #e2e8f0;
      border-width: 0 0 1px 0;
      font-weight: 600;
      color: #334155;
      background: #ffffff;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    }

  }
}

.tab-data-table tr:nth-child(odd) {
  background-color: #F7FAFC;
}



.pop-data-set {
  height: calc(100vh - 255px);
  overflow: auto;


}

.cancel-btn {
  button {
    background-color: #FFFFFF;
    border: 1px solid #4F7619;
    color: #4F7619;

    &:hover {
      background-color: #f1f1f1;
      border: 1px solid #4F7619;
      color: #4F7619;
    }
  }
}

.submit-btn {
  button {
    background-color: #4F7619;
    border: 1px solid #4F7619;
    color: #fff;
    padding: 0.5rem 0.75rem;
  }
}

.p-carousel-prev {
  position: absolute;
  z-index: 99;
  color: #fff;
}

.p-carousel-next {
  position: absolute;
  z-index: 99;
  color: #fff;
  right: 0;

  button {
    .carousel-prev-icon {
      width: 50px;
    }
  }
}

.p-carousel-indicators {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  display: none;
}

.navmenu a,
.navmenu a:focus {
  font-weight: 300;
  border-bottom: 3px solid #fff;
}

.active-link {
  border-bottom: 3px solid #BF3700 !important;
  color: #BF3700 !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0.5rem 0;
  padding-left: 0 !important;
}

.f-menu {
  padding: 0 30px 0 30px;
  background-color: #fff;
  box-shadow: 0px 5px 10px #0000004a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-head {
  padding: 15px 30px;
}

.leaders-top {
  display: table;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.gap-2 {
  gap: 10px;
}

.gap-3 {
  gap: 15px;
}

.tab-pop-txt {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  h4 {
    color: #4F7619;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
  }

  i {
    background-color: #ececec;
    border-radius: 20px;
    padding: 5px;
    color: #868686;
    border: 1px solid #e1e1e1;
    font-size: 11px;
    cursor: pointer;
  }

}

.project-detail-set-v {
  input {
    width: 100%;
  }
}

.tab-footer-btns {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 15px;
}



.p-dialog {
  .p-dialog-header-icons {
    button {
      background-color: #ececec;
      border-radius: 20px;
      padding: 5px;
      color: #868686;
      border: 1px solid #e1e1e1;
      font-size: 11px;
      cursor: pointer;
    }
  }
}

.p-dialog .p-dialog-header .p-dialog-title {
  color: #4F7619;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.page-heading {
  color: #507619;
}

.w-page {
  background-color: #fff;
  padding: 30px 0;
}

.ep-footer {
  background-color: #272727;
  padding: 25px 0;

  h3 {
    color: #fff;
  }

  hr {
    border: 1px solid #434343;
  }

  color: #fff;

  .footer-copyrights {
    gap: 20px;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #83c526;
    }
  }
}

.pos-rel {
  position: relative;
}

.jusify-space-between {
  justify-content: space-between;
}

.footer-copyrights {
  a {
    color: #fff;
    text-decoration: none;
  }
}

.flex-column {
  flex-direction: column;
}

.follow-us-img {
  h3 {
    font-size: 20px;
  }

  img {
    width: auto;
    height: 25px;
  }
}


.cancel-btn-m {
  background-color: #FFFFFF;
  border: 1px solid #4F7619;
  color: #4F7619;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;

  &:hover {
    background-color: #f1f1f1;
    border: 1px solid #4F7619;
    color: #4F7619;
  }
}

.submit-btn-m {
  background-color: #4F7619;
  border: 1px solid #4F7619;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;

  &:disabled {
    opacity: 0.5;
  }
}

.form-set {
  display: flex;
  flex-direction: column;

  label {
    margin: 10px 0;
    display: block;
  }
}

.link {
  color: #4F7619;
  text-decoration: none;

  &:hover {
    color: #243905;
    text-decoration: underline;
  }
}

.project-detail-banner-gray {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0 0 0 / 0%) 35%, rgb(0 0 0 / 0%) 0%);
  width: 100%;
  height: 100%;
  position: absolute;
}


.projects-set-list {
  height: calc(100vh - 160px);
  overflow: auto;
}

.header-set {
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
  padding: 10px 30px;
  margin-top: 140px;
  margin-bottom: 0;

  h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    color: #507619;

    span {
      background-color: #4F7619;
      border-radius: 100px;
      padding: 6px;
      font-size: 14px;
      color: #fff;
    }
  }
}





.projects-list {
  .col-11 {
    padding: 0 0 0 25px;
  }
}

.projects-actions {
  position: absolute;
  right: 0;
  top: -15px;
  display: flex;
  gap: 20px;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;

  img {
    &:hover {
      cursor: pointer;
    }
  }
}


.p-galleria-mask {
  top: 137px;
  height: calc(100% - 137px);
}

.p-carousel-content {
  overflow: inherit;
}

.p-carousel-container {
  position: relative;

  .p-carousel-prev,
  .p-carousel-next {
    color: #333;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    transition: 0.3s ease;

    &:hover {
      border: 1px solid #4F7619;
      transition: 0.3s ease;
    }

    svg {
      width: 70px;
      height: 15px;
    }
  }

  .p-carousel-next {
    right: -5px;
  }

  .p-carousel-prev {
    left: -5px;
  }
}

.inner-margin-top {
  margin-top: 135px;
}

.cur-pointer {
  cursor: pointer;
}

.p-sidebar-right {
  width: 25rem;
}

.p-menubar {
  padding: 0;
  background: transparent;
  color: unset;
  border-radius: 0;
  justify-content: flex-end;

  ul {
    margin: 0;
    padding: 0;
    margin-left: -30px;
    width: calc(100% + 60px);
  }

  .p-menuitem-link-active {
    border-bottom: 3px solid #BF3700 !important;
    color: #BF3700 !important;
    background-color: #fff !important;
  }
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link {
  padding: 18px 30px;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none !important;
  border-bottom: 3px solid #fff;
}

.p-menubar-button {
  justify-content: end;
  width: 100%;
}


@media screen and (max-width: 960px) {
  .header-set {
    margin-top: 120px;
}
  .p-galleria-mask {
    top: 120px;
    height: calc(100% - 120px);
  }

  .inner-margin-top {
    margin-top: 120px;
  }

  .p-menubar {
    height: 54px;
  }

  .p-menubar .p-menubar-button {
    border-radius: 0;
    padding: 12px;
    height: 54px;
    width: 54px;
    position: absolute;

    svg {
      width: 30px;
      height: 25px;
    }
  }

  .p-menubar .p-menubar-button:focus {
    box-shadow: none;
  }

  .leaders-top {
    left: unset;
    right: 30px;
  }

  .top-head {
    padding: 15px;
  }

  .logo {
    img {
      height: 35px!important;

    }
  }

  .leaders-top {
    img {
      width: 30px;

    }
  }

  .header-social-links {
    position: absolute;
    bottom: -36px;
    left: 22px;
    z-index: 999;
    align-items: center;
  }

  .ep-footer .footer-copyrights {
    flex-direction: column-reverse;
  }

  .follow-us-img img {
    height: 20px;
  }
  .m-mt-50{
    margin-top: 60px;
  }
}

.p-galleria-item{
  img{
      height: calc(100vh - 170px);

  }
}

@media screen and (max-width: 400px) {
  .sponsor-badge{
    height: 120px;
}
}

.sponsor-card {
  border-radius: 5px;
  background-color: #F6F6F6;
  border: 1px solid #EEEEEE;
  width: calc(100% - 10px);
  transition: all 0.2s ease-out;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  cursor: pointer;

  &:hover {
      transform: translateY(-2px) scale(1.015) translateZ(0);
      box-shadow: 0 14px 26px rgba(0, 0, 0, 0.14);
      transition: all 0.2s ease-out;
      border: 1px solid #4F7619;
  }

  .sponspor-details {
      padding: 10px;
      display: table;
    table-layout: fixed;
    width: 100%;

      .sponspor-details-name {
          font-weight: 800;
          color: #BF3700;
          font-size: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      .sponspor-details-v {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 10px 0;
      }

      .sponspor-details-money {
          font-weight: 800;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }
}

.logo{
  img{
    height: 50px;
  }
}

.login-section{
  button{
    color: #000;
  background-color: #ffd687;
  border-color: #ffd687;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #000;
  background-color: #ffd687;
  border-color: #ffd687;
}

.invalid-feedback{
  div{
    color: #ffd687;
  }
}

.projects-list{
  table{
      border: 1px solid #ccc!important;
  }
}


.sponsor-table{
  table{
    border: 1px solid #ccc!important;
}
}

.private-share{
  background-color: #FFCDD3;
  border-radius: 3px;
  padding: 10px 20px;
  span{
      font-weight: bold;
  }
}

.collected-amount{
  background-color: #A5D6A7;
  border-radius: 3px;
  padding: 10px 20px;
  span{
      font-weight: bold;
  }
}

.remaining-amount{
  background-color: #BBDEFB;
  border-radius: 3px;
  padding: 10px 20px;
  span{
      font-weight: bold;
  }
}


.project-amount-info-pop{
  display: flex;
      gap: 10px;
      margin-bottom: 10px;
}

.error_content {
  max-width: 630px;
  margin: 0 auto;
}
.error_content h2 {
  font-size: 28px;
  color: #333333;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-bottom: 40px;
}

.error_content h1 {
  font-size: 250px;
  color: #c6cdd7;
  background-image: -moz-linear-gradient(-45deg, rgba(149, 217, 89, 0.99608) 0%, #427b0f 100%);
  background-image: -webkit-linear-gradient(-45deg, rgba(149, 217, 89, 0.99608) 0%, #427b0f 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(149, 217, 89, 0.99608) 0%, #427b0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: 240px;
}