<div class="header-set">
  <h3 style="visibility: hidden">Projects List <span>55</span></h3>

  <div class="header-set-filter">
    <p-dropdown
      filterBy="name"
      [filter]="true"
      [options]="districts"
      [(ngModel)]="selectedDistrict"
      optionLabel="name"
      placeholder="Select a District"
      (onChange)="getMandals($event)"
    />
    <p-dropdown
      [filter]="true"
      [options]="mandals"
      [(ngModel)]="selectedMandal"
      optionLabel="name"
      placeholder="Select a Mandal"
      (onChange)="getvilages($event)"
    />
    <p-dropdown
      [filter]="true"
      [options]="villages"
      [(ngModel)]="selectedVilage"
      optionLabel="name"
      placeholder="Select a Vilage"
      (onChange)="vilageChange($event)"
    />
    <button class="submit-btn-m" (click)="reset()">Reset</button>
  </div>
</div>
<div class="container-fluid">
  <div class="main-container-in">
    <div class="projects-list-detail">
      <div class="row project-detail-name-h">
        <div class="d-flex justify-content-between"></div>
      </div>
      <div class="container-fluid">
        <div class="row mb-4">
          <div class="project-detail-h-set mt-2">
            <h4 class="inline-block">Location Details</h4>
            <button
              class="submit-btn-m"
              (click)="editVillage()"
              style="float: right"
            >
              Edit village Details
            </button>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">District</div>
            <div class="project-detail-set-v mt-2">
              {{ selectedDistrict.name }}
            </div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Mandal</div>
            <div class="project-detail-set-v mt-2">
              {{ selectedMandal.name }}
            </div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Village</div>
            <div class="project-detail-set-v mt-2">
              {{ selectedVilage.name }}
            </div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Pin Code</div>
            <div class="project-detail-set-v mt-2">
              {{
                getVillagesDemographyData?.pinCode
                  ? getVillagesDemographyData.pinCode
                  : ""
              }}
            </div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Climatic condition</div>
            <div class="project-detail-set-v mt-2">---</div>
          </div>

          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Latitude, Longitude</div>
            <div class="project-detail-set-v mt-2">
              {{
                getVillagesDemographyData?.latitude
                  ? getVillagesDemographyData.latitude
                  : ""
              }}
              ,
              {{
                getVillagesDemographyData?.longitude
                  ? getVillagesDemographyData.longitude
                  : ""
              }}
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Boundaries of the village</div>
            <div class="project-detail-set-v mt-2">---</div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Geographical Area</div>
            <div class="project-detail-set-v mt-2">---</div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Total House Holds</div>
            <div class="project-detail-set-v mt-2">
              {{ this.getVillagesDemographyData.noOfHouses }}
            </div>
          </div>

          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Population</div>
            <div class="project-detail-set-v mt-2">
              {{ this.getVillagesDemographyData.totalPopulation }}
            </div>
          </div>

          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Male</div>
            <div class="project-detail-set-v mt-2">
              {{ this.getVillagesDemographyData.adultMalePopulation }}
            </div>
          </div>
          <div class="project-detail-set col-2">
            <div class="project-detail-set-h">Female</div>
            <div class="project-detail-set-v mt-2">
              {{ this.getVillagesDemographyData.adultFemalePopulation }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="projects-list-tab mt-3">
      <div class="container-fluid">
        <div class="row">
          <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Community wise Population
                  </span>
                </div>
              </ng-template>
              <div>
                <app-community-wise-population
                  [villagesDemographyData]="CommunityPopulationData"
                  [communityData]="CommunityOptions"
                ></app-community-wise-population>
              </div>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Unemployed youth
                  </span>
                </div>
              </ng-template>

              <div>
                <app-unemployed-youth
                  [unemployedData]="unEmployedYouthVillage"
                  [communityData]="CommunityOptions"
                ></app-unemployed-youth>
              </div>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Employed youth
                  </span>
                </div>
              </ng-template>

              <div>
                <app-employedyouth
                  [employedYouthVillage]="employedYouthVillage"
                  [communityData]="CommunityOptions"
                ></app-employedyouth>
              </div>
            </p-tabPanel>
            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Main Occupation
                  </span>
                </div>
              </ng-template>
              <div>
                <app-main-occupation
                  [occupationsData]="occupationsData"
                  [occupationsLookupData]="villagelookupsData.occupation"
                ></app-main-occupation>
              </div>
            </p-tabPanel>
            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Land Utilization
                  </span>
                </div>
              </ng-template>
              <div>
                <app-land-utilization
                  [landUtilizationData]="landUtilizationData"
                  [landUtilizationLookupData]="
                    villagelookupsData.landUtilization
                  "
                ></app-land-utilization>
              </div>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Cultivation crops
                  </span>
                </div>
              </ng-template>
              <div>
                <app-cultivation-crops
                  [cultivationCropsData]="cultivationCropsData"
                  [cultivationCropsLookupData]="
                    villagelookupsData.cultivationCrops
                  "
                ></app-cultivation-crops>
              </div>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0">
                    Institutions
                  </span>
                </div>
              </ng-template>
              <div>
                <app-institutions
                  [institutionsData]="institutionsData"
                  [institutionsLookupData]="villagelookupsData.institutions"
                ></app-institutions>
              </div>
            </p-tabPanel>
          </p-tabView>
          <!-- <p-tabView styleClass="tabview-custom">
          <p-tabPanel>
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0"> Approval </span>
              </div>
            </ng-template>
            <app-project-approval
              [projectData]="SelectedVillages"
            ></app-project-approval>
          </p-tabPanel>
          <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0">
                  Committee
                </span>
              </div>
            </ng-template>
            <app-project-committee
              [projectData]="SelectedVillages"
            ></app-project-committee>
          </p-tabPanel>
          <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0"> Finance </span>
              </div>
            </ng-template>
            <app-project-finance
              [projectData]="SelectedVillages"
            ></app-project-finance>
          </p-tabPanel>

          <p-tabPanel header="Header IV">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0"> Vendors </span>
              </div>
            </ng-template>
            <app-project-vendors
              [projectData]="SelectedVillages"
            ></app-project-vendors>
          </p-tabPanel>

          <p-tabPanel header="Header V">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0"> Sponsors </span>
              </div>
            </ng-template>
            <app-project-donors
              [projectData]="SelectedVillages"
            ></app-project-donors>
          </p-tabPanel>

          <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0">
                  Work In Progress
                </span>
              </div>
            </ng-template>
            <app-project-work-in-progress
              [projectData]="SelectedVillages"
            ></app-project-work-in-progress>
          </p-tabPanel>

          <p-tabPanel header="Header vII">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                  shape="circle"
                />
                <span class="font-bold white-space-nowrap m-0">
                  Project Sign off
                </span>
              </div>
            </ng-template>
            <app-project-signoff
              [projectData]="SelectedVillages"
            ></app-project-signoff>
          </p-tabPanel>
        </p-tabView> -->
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Edit Profile"
  appendTo="body"
  [modal]="true"
  [(visible)]="villageFormVisible"
  [style]="{ width: '90%', right: 'inherit', height: '80%' }"
>
  <form [formGroup]="villageForm" *ngIf="villageFormVisible">
    <span class="p-text-secondary block mb-5">Update your information.</span>

    <div class="formgrid grid">
      <div class="field col-12 md:col-3">
        <label for="firstname6">Village</label>

        <input
          pInputText
          FormControlName="Village"
          aria-describedby="Village"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Panchayat / Block</label>
        <input
          pInputText
          FormControlName="Panchayat"
          aria-describedby="Panchayat"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">District</label>
        <input
          pInputText
          FormControlName="District"
          aria-describedby="District"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Mandal</label>
        <input
          pInputText
          FormControlName="Mandal"
          class="w-full"
          aria-describedby="Mandal"
        />
      </div>

      <div class="field col-12 md:col-3">
        <label for="firstname6">Majority Religion</label>
        <input
          pInputText
          class="w-full"
          FormControlName="Religion"
          aria-describedby="Religion"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Language</label>
        <input
          class="w-full"
          pInputText
          FormControlName="Language"
          aria-describedby="Language"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Time Zone</label>
        <input
          pInputText
          FormControlName="TimeZone"
          aria-describedby="TimeZone"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6" style="display: block"
          >Latitude and Longitude</label
        >
        <p-button label="Get Geolocation" (onClick)="getLocation()" />

        {{ GeolocationError }}

        {{ Latitude }}

        {{ longitude }}
      </div>

      <div class="field col-12 md:col-3">
        <label for="firstname6">Boundaries of the village</label>
        <input
          pInputText
          FormControlName="Boundaries"
          aria-describedby="Boundaries"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Geographical Area</label>
        <input
          pInputText
          FormControlName="Geographical"
          aria-describedby="Geographical"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Total House Holds</label>
        <input
          pInputText
          FormControlName="TotalHouse"
          aria-describedby="TotalHouse"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Population</label>
        <input
          pInputText
          FormControlName="Population"
          aria-describedby="Population"
          class="w-full"
        />
      </div>

      <div class="field col-12 md:col-3">
        <label for="firstname6">Male</label>
        <input
          pInputText
          FormControlName="PopulationMale"
          aria-describedby="PopulationMale"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">Female</label>
        <input
          pInputText
          FormControlName="PopulationFemale"
          aria-describedby="PopulationFemale"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">ABOVE 18 MALE </label>
        <input
          pInputText
          FormControlName="PopulationAboveEighteenMale"
          aria-describedby="PopulationAboveEighteenMale"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">ABOVE 18 FEMALE</label>
        <input
          pInputText
          FormControlName="PopulationAboveEighteenFeMale"
          aria-describedby="PopulationAboveEighteenFeMale"
          class="w-full"
        />
      </div>

      <div class="field col-12 md:col-3">
        <label for="firstname6"> SENIOR CITIZENS>60 Male</label>
        <input
          pInputText
          FormControlName="PopulationAbove60Male"
          aria-describedby="PopulationAbove60Male"
          class="w-full"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="lastname6">SENIOR CITIZENS>60 Female</label>
        <input
          class="w-full"
          pInputText
          FormControlName="PopulationAbove60FeMale"
          aria-describedby="PopulationAbove60FeMale"
        />
      </div>
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="villageFormVisible = false"
      />
      <p-button label="Save" type="submit" />
    </div>
  </form>
</p-dialog>
