<div class="header-set">
  <h3>Sponsors <span>55</span></h3>
</div>

<div class="main-container projects-set-list sponsors-list">
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details cursor-pointer">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
  <div class="sponsor-card cursor-pointer" (click)="showSponsorDetails()">
    <img
      src="assets/images/sponsors/srini.png"
      class="img-fluid"
      width="100%"
    />
    <div class="sponspor-details">
      <div class="sponspor-details-name">Srini Nannapaneni</div>
      <div class="sponspor-details-v">Kakarla | Tiruvuru | NTR District</div>
      <div class="sponspor-details-money">15,00,000/-</div>
    </div>
  </div>
</div>
